---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600
  become: yes

- name: Install common packages
  apt:
    name: "{{ common_packages }}"
    state: present
  become: yes

- name: Set timezone to UTC
  timezone:
    name: UTC
  become: yes