version: '3.8'

services:
  {{ app_name }}:
    image: {{ docker_image }}:{{ docker_image_tag }}
    container_name: {{ app_name }}
    ports:
      - "{{ app_port }}:{{ app_port_inside }}"
    environment:
      - PORT={{ app_port_inside }}
    restart: {{ restart_policy }}
    networks:
      - {{ app_name }}_network

networks:
  {{ app_name }}_network:
    driver: bridge